@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.hero {
  font-family: 'Slabo 27px', serif;
  color: #252a34;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column;
  /* make main axis vertical */
  justify-content: center;
  /* center items vertically, in this case */
  align-items: center;
  /* center items horizontally, in this case */
}

h1 {
  letter-spacing: 11px;
}

p {
  margin: 0;
  color: #ff2e63;
}

@media (max-width: 600px) {
  .hero {
    font-size: 20px;
  }
  h1 {
    letter-spacing: 5px;
  }
}
