header {
    display: inline-block;
    width: 100%;
    position: relative;
    .navbar.navbar-light {
      padding: 0;
      margin: 0;
      .navbar-brand {
        padding: 15px 0 15px 50px;
        transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
      }
      .navbar-nav {
        padding-right: 30px;
        .nav-link {
          color: #333333;
          font-size: 16px;
          padding: 5px 20px;
          position: relative;
          text-transform: capitalize;
        }
        .nav-item.active .nav-link {
          background: $blue-color;
          color: #fff;
          border: 2px solid  $blue-color;
        }
      }
      .navbar-brand img {
        height: 55px;
        transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
      }
    }
  }