<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>webpack 4 quickstart</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>
<body>
    <div id="app">
    </div>
    <div id="domNode">
      <div class="large square el"></div>
    </div>
    <div id="svgAttributes"> <svg width="128" height="128" viewBox="0 0 128 128">
      <polygon points="64 68.86938534656994 8.574 99.98454276640365 63.23395766952516 67.5421214763205 64 3.984542766403642 64.76604233047483 67.5421214763205 119.426 99.98454276640365 "  fill="#FF0000"></polygon>
    </svg> </div>
    <div class="home-title">
    	Thinking ahead
    </div>


    
</body>
</html>